.social-midia{
    display: flex;
    justify-content: flex-end;
    gap: 14px;
} 

.social-midia li{
    border-radius: 50px;
    border: solid 1px #ffffff;
}

.social-midia li a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: var(--color-text);
}

.social-midia li:hover{
    border: 1px solid var(--hover);
}

.social-midia i:hover{
    color: var(--hover);
}
