body{
    font-family: var(--text);
    color: var(--color-text);
}

main{
    background: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--home-background);
    height: 100vh;
    padding: 0 60px;    
}

.header{
   padding: 15px 0 30px;
}

.header img{
    width: 17%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .img-illustration-huddle{
    width: 100%;
}

.home .img-illustration-huddle img{
    width: 100%;
}

.home .information{
    width: 100%;
    padding: 0 0 0 50px;
}

.home .information h1{
    font-family: var(--titles);
    font-size: 4rem;
    padding: 0 45px 0 0;
}

.home .information p{
    font-size: 1.8rem;
    margin: 20px 0;
    line-height: 28px;
}

.home .information .btn{
    font-size: 2rem;
    color: var(--button);
    padding: 12px 57px;
    border: 0;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}

.home .information .btn:hover{
    color: var(--color-text);
    background-color: var(--hover);
}

.footer{
    display: flex;
    justify-content: flex-end;
    gap: 14px;
} 

.footer a{
    border-radius: 50px;
    border: solid 1px #fff;
}

.footer a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: var(--color-text);
}

.footer a:hover{
    border: 1px solid var(--hover);
}

.footer i:hover{
    color: var(--hover);
}

@media(max-width: 950px){
    main{
        padding: 0 30px;
        background: url("../images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--home-background);
    }

    .header img{
        width: 50%;
    }

    .home{
        flex-direction: column;
    }

    .home .information{
        padding: 0;
        margin-top: 30px;
        text-align: center;
    }

    .home .information h1{
        font-size: 2.6rem;
    }

    .home .information p{
        text-align: center;
    }

    .home .information .btn{

    }

    .footer{
        justify-content: center;
        margin-top: 40px;
    }
}
