body{
    background-color: var(--background);
    font-family: var(--text);
    color: var(--color-text);
}

main{
    max-width: 1440px;
    background: url("../images/bg-desktop.svg");
    background-size: cover;
    height: 100vh;
    padding: 0 60px;    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .img-illustration-huddle{
    width: 100%;
}

.home .img-illustration-huddle img{
    width: 100%;
}

.home .information{
    width: 100%;
    padding: 0 0 0 50px;
}

.home .information h1{
    font-family: var(--titles);
    font-size: 4rem;
    padding: 0 45px 0 0;
}

.home .information p{
    font-size: 1.8rem;
    margin: 20px 0;
    line-height: 28px;
}

.home .information .btn{
    font-size: 2rem;
    color: var(--button-text);
    padding: 12px 57px;
    border: 0;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}

.home .information .btn:hover{
    color: var(--color-text);
    background-color: var(--hover);
}
